pandas
numpy
python-dotenv
pymongo
Certifi
pymongo[srv]==3.11
scikit-learn
dill
pyaml
mlflow
dagshub
fastapi
uvicorn
jinja2
python-multipart


##-e .
##this refers to setup.py and thus a new NetworkSecurity folder gets created